<!-- INICIO DEL HOME -->
<div class="container-fluid">
    <div class="container">
        <div id="div-principal" class="row">
            <div id="divsecciones" class="col-sm-12 col-lg-12">
                <h1>Descubre los mejores juegos de Nintendo Switch</h1>
                <h2>Juegos, diversion y mucho más</h2>
                <article>
                    <section id=carrusel>
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/img/fury.png" class="d-block w-100" alt="furro">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/img/toad.png" class="d-block w-100" alt="caja">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/img/new.png" class="d-block w-100" alt="u">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        </div>
                    </section>
                </article>

                <article>
                    <section id="juegos" class="row">
                        <div id="juego01" class="col-sm-6">
                            <img src="assets/img/mario.png" alt="" width="50%">
                            <p>El mejor juego de carreras hasta la fecha</p>
                            <a href="construccion.html" target="">Mas informacion</a>
                        </div>

                        <div id="juego02" class="col-sm-6">
                            <img src="assets/img/super.png" alt="" width="50%">
                            <p>Disfruta este fantastico juego de aventuras junto a Mario y sus amigos</p>
                            <a href="#" target="">Mas informacion</a>
                        </div>
                    </section>
                </article>
            </div>

        </div>
    </div>
</div>

<!-- FIN DEL HOME -->