<!-- AQUI VA EL LOGIN -->

<div id="login">
    <h3 class="text-center">Ingresar</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12 margin-bottom">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info"></h3>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input id="email" type="text" name="email" id="email" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="password" class="text-info">Contraseña:</label><br>
                            <input id="pass" type="password" name="password" class="form-control">
                        </div>

                        <br>

                        <button id="ingresar" type="submit" name="ingresar" class="btn btn-info btn-lg btn-block" value="Ingresar">Ingresar</button>

                        <div id="register-link" class="text-right form-group">
                            <a href="registro.html" class="text-info">Registrar</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- FIN DEL LOGIN -->