<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div id="carritoProductos" class="col-md-12 mg-btm">
                <h2>Carrito de Productos</h2>
                <table id="th0">
                    <thead id="th0">
                        <th id="th20">Juego</th>
                        <th id="th20" class="img-juegos">Imagen</th>
                        <th id="th15">Plataforma</th>
                        <th id="th15">Precio</th>
                        <th id="th15">Cantidad</th>
                        <th id="th15">Eliminar</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of carritoProductos" class="pd-bottom">
                            <td id="th20">
                                <h5>{{item.nombre}}</h5>
                            </td>
                            <td align="center" class="td-img">
                                <img src={{item.img}} class="img-juegos">
                            </td>
                            <td align="center">
                                <p>{{item.plataforma}}</p>
                            </td>
                            <td align="center">
                                <p>{{item.precio}}</p>
                            </td>
                            <td align="center">
                                <p>{{item.cantidad}}</p>
                            </td>
                            <td>
                                <form (ngSubmit)="restarJuego(item)">
                                    <button type="submit" class="btn btn-danger">Quitar Juego</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div id="listaProductos" class="col-md-12 mg-btm">
                <div id="tituloListaProductos">
                    <h2>Lista de Productos</h2>
                </div>

                <div class="buscarProducto" class="mg-btm">
                    <input type="text" class="form-control" placeholder="Filtrar" name="buscar" [(ngModel)]="buscar">
                </div>

                <table id="th0">
                    <thead id="th0">
                        <th id="th20">Juego</th>
                        <th id="th20">Imagen</th>
                        <th id="th15">Plataforma</th>
                        <th id="th15">Descripcion</th>
                        <th id="th15">Precio</th>
                        <th id="th15">Añadir</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productosService.productos | filtro:buscar" class="pd-bottom">
                            <td>
                                <h5>{{item.nombre}}</h5>
                            </td>
                            <td align="center" class="td-img">
                                <img src={{item.img}} class="img-juegos">
                            </td>
                            <td align="center">
                                <p>{{item.plataforma}}</p>
                            </td>
                            <td class="line-clamp">
                                <p class="module">{{item.descripcion}}</p>
                            </td>
                            <td align="center">
                                <p>{{item.precio}}</p>
                            </td>
                            <td>
                                <form (ngSubmit)="agregarJuego(item)">
                                    <button type="submit" class="btn btn-primary">Añadir</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>





        <!--{{productosService.producto}} {{productosService.getProducto()}}-->
        <!--<table><!-->
        <!--<tr *ngFor="let item of productosService.lista_productos[ 'productos'] ">-->
        <!--<tr *ngFor="let item of productosService.productos ">
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.nombre}}
                </td>
                <td>
                    {{item.descripcion}}
                </td>
                <td>
                    {{item.precio}}
                </td>
            </tr>
        </table>-->
    </div>

</div>