<h2>{{Titulo}}</h2>

<p>Fecha de hoy: {{Fecha2}}</p>
<br>
<p>Fecha de hoy: {{Fecha | date:'yyyy-MM-dd'}}</p>
<p>Fecha de hoy: {{Fecha1}}</p>
<!--ngIf-->
<!--llamado al get de la variable-->
<p>Mes Actual: {{obtenerMes()}}</p>
<button type="button" class="btn btn-primary" (click)="getFecha()">Mes</button>
<h2>{{fecha | date:'yyyy-MM-dd'}}</h2>


<input #inputAgregar type=text placeholder="Día" formControlName="link">
<button type="button" class="btn btn-primary" (click)="AgregarDia(inputAgregar.value)">Agregar Día</button>


<button type="button" class="btn btn-primary" (click)="Sumar()">Sumar</button>
<button type="button" class="btn btn-primary" (click)="Restar()">Restar</button>
<h2>{{Contador}}</h2>

<!-- ngFor -->
<!-- ngFor -->
<ul>
    <li *ngFor="let dia of dias_semana; let i = index">

        <b *ngIf="getDia == i; else templateName"> {{dia}}</b>

        <ng-template #templateName>
            {{dia}}
        </ng-template>
    </li>
</ul>
<h3>El elemento elimnado es: {{eliminado}}</h3>
<button type="button" class="btn btn-danger" (click)="EliminarDia()">Eliminar Dia</button>

<form (ngSubmit)=insertar()>
    <button type="submit" class="btn btn-success">Ingresar 2</button>
</form>


<form (ngSubmit)="insertar()">
    <h2>{{Titulo2}}</h2>
    <div class="mb-3">
        <label for="email" class="form-label">Email adress</label>
        <input [(ngModel)]="email" name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Nunca Compartiremos su correo</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-success">Ingresar</button>
</form>