<h2>{{Titulo}}</h2>

<p>Fecha de hoy: {{Fecha2}}</p>
<br>
<p>Fecha de hoy: {{Fecha | date:'yyyy-MM-dd'}}</p>
<p>Fecha de hoy: {{Fecha1}}</p>
<!--ngIf-->
<!--llamado al get de la variable-->
<p>Mes Actual: {{obtenerMes()}}</p>
<button type="button" class="btn btn-primary" (click)="getFecha()">Mes</button>
<h2>{{fecha | date:'yyyy-MM-dd'}}</h2>

<input #inputAgregar type=text placeholder="Día" formControlName="link">
<button type="button" class="btn btn-primary" (click)="AgregarDia(inputAgregar.value)">Agregar Día</button>


<button type="button" class="btn btn-primary" (click)="Sumar()">Sumar</button>
<button type="button" class="btn btn-primary" (click)="Restar()">Restar</button>
<h2>{{Contador}}</h2>

<!-- ngFor -->
<!-- ngFor -->